body {
  background-color: #966531;
  text-align: center;
  color: #053326;
}

/*h2.intro {
  font-size: 30px;
  font-style: italic;
}

img.intro {
  width: 40%
}

p.intro {
  font-weight: bold;
  font-style: italic;
  margin: 0px 200px 0px 200px;
}*/

.intro {
  font-size: 30px;
  font-style: italic;
  width: 40%;
}

.intro img{
  width: 100%;
}
